body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.App {
  padding: 20px;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

section {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#sales-list {
  margin-top: 20px;
}

.sales-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.spinner {
  width: 18px;
  height: 18px;
  border: 4px solid #ccc;
  border-top-color: #007bff; /* Cor da animação */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.clock {
  font-size: 5em !important;
}

.today_forecast_temperature span {
  font-size: 0.5em;
  vertical-align: top;
}

.card_description span {
  font-size: 0.5em;
  margin-left: 1em;
}

.list_description span {
  padding-right: 1em;
}
